## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [2]:
### Connect to the database

In [4]:
import csv, sqlite3

con = sqlite3.connect("data.db")
cur = con.cursor()

In [5]:
%load_ext sql

In [7]:
%sql sqlite:///data.db

In [8]:
# using SQL, it first needs to be stored in the database.

# We will first read the csv files  from the given url  into pandas dataframes

#Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [9]:
import pandas as pd

df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

In [10]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

In [11]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

D:\Users\akhil\anaconda3\envs\Db_sql_3_7_12\lib\site-packages\pandas\core\generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

 Query the database system catalog to retrieve table metadata

 You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

#### 1) Retrieve list of all tables in the database

In [25]:
%sql select name from sqlite_master where type='table'

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('CENSUS_DATA',), ('CHICAGO_CRIME_DATA',), ('CHICAGO_PUBLIC_SCHOOLS_DATA',)]

#### 2) Retrieve the number of columns in the SCHOOLS table

In [31]:
%sql select count(name) from PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[(78,)]

#### 3) retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [65]:
%sql select name,type,length(type) from PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

#### 5) What is the highest Safety Score?

In [59]:
%sql select max(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS_DATA

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[(99.0,)]

#### 6) Which schools have highest Safety Score?

In [63]:
%sql select NAME_OF_SCHOOL,Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA\
where SAFETY_SCORE=(select max(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS_DATA)

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

#### 7) What are the top 10 schools with the highest "Average Student Attendance"?

In [70]:
%sql SELECT NAME_OF_SCHOOL,AVERAGE_STUDENT_ATTENDANCE from CHICAGO_PUBLIC_SCHOOLS_DATA\
where AVERAGE_STUDENT_ATTENDANCE=(select max(AVERAGE_STUDENT_ATTENDANCE) from CHICAGO_PUBLIC_SCHOOLS_DATA)

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('John Charles Haines Elementary School', '98.40%')]

In [72]:
%sql select name_of_school,average_student_attendance from CHICAGO_PUBLIC_SCHOOLS_DATA\
order by average_student_attendance desc limit 10

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

#### 8) Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [73]:
%sql select name_of_school,average_student_attendance from CHICAGO_PUBLIC_SCHOOLS_DATA\
order by average_student_attendance  limit 5

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%')]

#### 9) Now remove the '%' sign from the above result set for Average Student Attendance column

In [79]:
%sql select name_of_school,replace(average_student_attendance,'%','') from CHICAGO_PUBLIC_SCHOOLS_DATA\
order by average_student_attendance  limit 5

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00')]

#### 10) Which Schools have Average Student Attendance lower than 70%?

In [87]:
# since the attendence column is in varchar we need to change thetype by casting to decimal or double

In [85]:
%sql select name_of_school,average_student_attendance from CHICAGO_PUBLIC_SCHOOLS_DATA\
where cast(replace(average_student_attendance,'%','')as double) < 70

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Dyett High School', '62.50%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Orr Academy High School', '66.30%'),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Roberto Clemente Community Academy High School', '69.60%'),
 ('Wendell Phillips Academy High School', '63.00%')]

#### 11) Get the total College Enrollment for each Community Area

In [97]:
%sql select COMMUNITY_AREA_NAME,sum(COLLEGE_ENROLLMENT) as Total_college_enrollment from CHICAGO_PUBLIC_SCHOOLS_DATA\
group by COMMUNITY_AREA_NAME limit 10 
# limiting the result just for aesthetics

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636)]

#### 12) Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [120]:
%sql select COMMUNITY_AREA_NAME,sum(COLLEGE_ENROLLMENT) as Total_college_enrollment from CHICAGO_PUBLIC_SCHOOLS_DATA\
group by COMMUNITY_AREA_NAME\
order by Total_college_enrollment limit 5

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

#### 13) List 5 schools with lowest safety score.

In [129]:
%sql select NAME_OF_SCHOOL,SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA\
where SAFETY_SCORE >=(select min(SAFETY_SCORE)from CHICAGO_PUBLIC_SCHOOLS_DATA)\
order by SAFETY_SCORE limit 5

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

#### 14) Get the hardship index for the community area which has College Enrollment of 4368

In [180]:
%sql select hardship_index\
from CENSUS_DATA cd\
join CHICAGO_PUBLIC_SCHOOLS_DATA cps\
on cd.community_area_number = cps.community_area_number\
where college_enrollment = 4368

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[(6.0,)]

#### 15) Get the hardship index for the community area which has the highest value for College Enrollment

In [187]:
%sql select hardship_index,cps.COMMUNITY_AREA_NAME\
from CENSUS_DATA cd\
join CHICAGO_PUBLIC_SCHOOLS_DATA cps\
on cd.community_area_number = cps.community_area_number\
where college_enrollment = (select max(college_enrollment) from CHICAGO_PUBLIC_SCHOOLS_DATA)

   sqlite:///RealWorldData.db
 * sqlite:///data.db
Done.

[(6.0, 'NORTH CENTER')]